.table-ft {
  margin-top: 1rem;
  label {
    display: flex;
    align-items: center;
    select {
      width: auto;
      margin-left: 5px;
    }
  }
  .pagination {
    li {
      a {
        border: none;
      }
    }
  }
}

.page-item.active .page-link {
  background-color: #e9ecef;
  color: #ff5100 !important;
  box-shadow: none;
}
