<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mt-1">DEVELOP ACROSS ALL PLATFORMS</h1>
      <p>
        Learn one way to build applications with Angular and reuse your code and
        abilities to build apps for any deployment target. For web, mobile web,
        native mobile and native desktop.
      </p>
    </div>
  </div>
  <div class="row" *ngIf="data; else noData">
    <div class="col-lg-12">
      <h1 class="text-center mt-1">Welcome {{ data?.name }}</h1>
    </div>
  </div>
  <ng-template #noData>
    <div class="col-lg-6 col-md-4 d-flex align-items-end flex-column">
      <app-add-button (click)="doModal()"></app-add-button>
    </div>
  </ng-template>
</div>
