tag-input {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem !important;
}
.is-invalid {
  border: 1px solid #fb6340 !important;
  border-radius: 0.25rem;
}

.invalid-feedback {
  display: block;
}
