<div class="form-group" [formGroup]="formGroup" *ngIf="!field.disabled">
  <label [for]="field.name" class="form-control-label">
    {{ field.label }}
    <span
      class="text-danger"
      *ngIf="field.validations && field.validations.length > 0"
      >*</span
    >
  </label>
  <ng-select
    labelForId="{{ field.name }}"
    placeholder="{{ field.placeholder }}"
    formControlName="{{ field.name }}"
    [multiple]="field.multiple"
    [searchable]="true"
    aria-label="Select"
    [ngClass]="{
      'is-invalid':
        formGroup.get(field.name).touched && formGroup.get(field.name).errors
    }"
    (change)="field.name === 'topic' && onChange($event)"
  >
    <ng-option
      [attr.aria-role]="'option'"
      *ngFor="let option of field.options"
      [value]="option.value"
      >{{ option.text }}
    </ng-option>
  </ng-select>
  <div
    *ngIf="
      formGroup.get(field.name).invalid && formGroup.get(field.name).touched
    "
  >
    <div *ngFor="let validation of field.validations">
      <div
        class="invalid-feedback"
        *ngIf="!!formGroup.get(field.name).hasError(validation.name)"
      >
        {{ validation.message }}
      </div>
    </div>
  </div>
</div>
