//content
.content {
  padding-top: 56px;
  // padding: 6rem 0 2rem 0;
}

//background
.bg-lightgray {
  background-color: #eaebee;
}

//button
.btn-blue {
  background-color: #0535a2 !important;
  color: #ffffff !important;
}
