//container max width
@media (min-width: 1200px) {
  .cnt {
    .container {
      max-width: 95% !important;
    }
  }
}

//default font-size
p,
ul,
li,
a,
div,
label,
input,
select,
option,
textarea {
  font-size: 1rem;
}

// text color
.primary-color {
  color: $primary-color !important;
}
.secondary-color {
  color: $secondary-color !important;
}
.black-color {
  color: $black-color !important;
}

// bg
.secondary-bg {
  background-color: $secondary-color !important;
}

// btn color
.btn-primary {
  background-color: $primary-color !important;
}

// link color
a {
  color: $primary-color !important;
  &:hover {
    color: $secondary-color !important;
  }
}

// main content
.main {
  min-height: calc(
    100vh - 189px
  ) !important; // navbar height + breadcrumb + footer
}

//tabel
.table-responsive {
  min-height: 50vh;
  max-height: 90vh;
  overflow-y: auto;
  .table {
    th,
    td {
      font-size: 1rem;
    }
    thead {
      tr {
        th {
          text-transform: capitalize;
          color: #002152 !important;
          font-size: 1rem;
          font-weight: 400;
          .col-sort {
            color: #d7d7d7;
            cursor: pointer;
            position: relative;
            top: -3px;
            .fa {
              font-size: 0.8rem;
              height: 6px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          border-bottom: 1px solid #dee2e6;
        }
        cursor: pointer;
        td {
          color: #222831;
        }
      }
    }
    .form-check-input {
      cursor: pointer;
    }
  }
}

//accordion
#accordion {
  .card {
    .card-header {
      h5 {
        cursor: pointer;
        color: $black-color;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: normal;
        line-height: 2rem;
      }
    }
  }
}

//accordion's table
#accordion {
  .table {
    th,
    td {
      font-size: 1rem;
    }
    thead {
      tr {
        th {
          color: #222831 !important;
        }
      }
    }
    tbody {
      tr {
        cursor: inherit;
      }
    }
  }
}

//Overview
.overview {
  .card-title {
    font-size: 0.88rem;
  }
  .h4 {
    font-size: 2rem;
  }
}

//button adjust
button {
  .btn-inner--icon {
    i {
      vertical-align: middle;
    }
  }
  .btn-inner--text {
    font-size: 0.88rem;
  }
}

//modal box
.modal-content {
  .modal-header {
    h5 {
      font-size: 1rem;
    }
  }
  .modal-body {
    .modal-footer {
      button {
        font-size: 0.88rem;
      }
    }
  }
}

//image ratio
.image-aspect-ratio {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image-aspect-ratio .inner {
  position: relative;
}

.img-ratio-1-1 .inner {
  padding-bottom: 100%;
}

.img-ratio-3-2 .inner {
  padding-bottom: 66.66%;
}

.img-ratio-16-9 .inner {
  padding-bottom: 56.25%;
}

.img-ratio-16-6 .inner {
  padding-bottom: 36.25%;
}

.image-aspect-ratio .inner img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

//limit text
.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

//form search
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
